################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/.vs
/out
/CMakeUserPresets.json
*.aps
/.cache
/.vscode
.aider*
/vcpkg_installed